[user]
	name = Arthur D'Aquino
	email = arthurdaquinosilva@gmail.com

[core]
	editor = vim
	pager = git-split-diffs --color | less -RFX

[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
	log = auto

[init]
	defaultBranch = main

[merge]
    conflictstyle = zdiff3

[split-diffs]
	theme-name = minimal

[include]
	path = ~/.gitconfig.local
